<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123621110759-mur3d3v9a9ero0gh84trcs27tissbtt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123621110759-mur3d3v9a9ero0gh84trcs27tissbtt8</string>
	<key>API_KEY</key>
	<string>AIzaSyBAT8LQZmhxc_aJx5A6ciRwNZfM7oAkLV8</string>
	<key>GCM_SENDER_ID</key>
	<string>123621110759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demego.building.com</string>
	<key>PROJECT_ID</key>
	<string>app-cudan-demego</string>
	<key>STORAGE_BUCKET</key>
	<string>app-cudan-demego.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123621110759:ios:6826e0f6c65d9f9cdb4342</string>
</dict>
</plist>