<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cudan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
				<key>dateExpires</key>
				<string>16/11/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>5.13.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImageWebPCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_image_compress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>open_file_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FECAFB4080A1B4241C12D4A3DAE2E23F142D0289</string>
						<key>dateExpires</key>
						<string>16/11/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9M6DA3P</string>
						<key>name</key>
						<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F6G9M6DA3P.com.demego.building.com--</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F6G9M6DA3P</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90cefab4-6d0c-44bc-b910-ea7c4824b1da</string>
				<key>dateExpires</key>
				<string>16/11/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.demego.building.com--</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F6G9M6DA3P</string>
				<key>name</key>
				<string>SCORPIUS INVESTMENT DEVELOPMENTJOINT STOCK COMPANY</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
